
@font-face { font-family: 'Luna';
             src: url('../other/Luna.ttf') format('truetype'); }
.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  bottom: 0;
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}
.ipad{
  margin-top: 10%;
  height:auto;
  width: 100%;
}

.macbook1{
  background: url('../images/macbook1.png') no-repeat fixed;
}

.marketing{
  margin-top: 10%;
  height:auto;
  width: 50%;
}

.head{
  top: 45vh;
  position: relative;
  text-align: center;
  font-family: Luna;
  color: #000;
}

.iphone{
  margin-top: 10%;
  height:auto;
  width: 50%;
}

.ipod{
  margin-top: 10%;
  height:auto;
  width: 50%;
}

.sierranevada{
    background: url('../images/SierraNevada.png') no-repeat fixed;
}

.elcapitan{
    background: url('../images/ElCapitan.png') no-repeat fixed;
}

.yosemite{
    background: url('../images/Yosemite.png') no-repeat fixed;
}
.yosemite3{
    background: url('../images/Yosemite3.png') no-repeat fixed;
}
.yosemite4{
    background: url('../images/Yosemite4.png') no-repeat fixed;
}
.elcapitan2{
    background: url('../images/ElCapitan2.png') no-repeat fixed;
}

.imac1{
  background: url('../images/imac1.PNG') no-repeat fixed;
  background-size: cover;
}

.applewatch{
  margin-top: 10%;
  height:85%;
}
.overflow-hidden { overflow: hidden; }

.parallax{
  height: 100vh;
}

.navimages{
  max-height: 15vh;
}

.imac{
  margin-top: 10%;
  height:85%;
}

.macbook{
  margin-top: 10%;
  height:95%;
}

.productnav{
  height: 22vh;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.bg-dark{
  background-color: rgba(0, 0, 0, .85)!important;
}

.icondescription{
  margin-top: 2vh;
  color: #000;
  font-weight: lighter;
  font-size: 2vh;
  text-align: center;
}

.timeline dt{
  font-size: 150%;
}
.content{
  padding-left: 2vw;
  border-left: 6px solid black;
  height: 100%;
  position: inherit;
  margin-left: 6%;
}

.apps{
  margin-top: 10%;
  height:95%;
}
