
@font-face { font-family: 'Luna';
             src: url('../other/Luna.ttf') format('truetype'); }
.container {
  max-width: 960px;
}

.site-header {
  background-color: rgba(0, 0, 0, .85);
  bottom: 0;
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}
#triangle{
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid black;
  float: right;
  margin-top: -14px;
  margin-right: -5px;
}
#triangleYear{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 8px 10px;
  border-color: transparent transparent rgba(0, 0, 0, .85) transparent;
  margin-top: 20px;
  display: none;
}

#timeline{
  padding: 0!important;
  margin-bottom: 0!important;
  margin-top: -16px;
}

#timeline > li{
  list-style-type: none;
  display: none;
}

@keyframes slide {
    from {transform:translate(0, 0);}
    50% {transform: translate(960px, 0);}
    to {transform: translate(-0px, 0);}
}

.slide {
    font-size: 20px;
    animation-duration: 10s;
    animation-name: slide;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.ipad{
  margin-top: 10%;
  height:auto;
  width: 100%;
}

.marketing{
  margin-top: 10%;
  height:auto;
  width: 50%;
}

.head{
  top: 45vh;
  position: relative;
  text-align: center;
  font-family: Luna;
  color: #000;
  font-weight: 600;
}

.head>p{
  text-shadow: 0 10px 9px #000000;
}

.head>h1{
  transition-duration: 0.3s;
}

#hoverYear{
  background-color: rgba(0, 0, 0, .85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  max-width: 40px;
  display: none;
  margin-top: -40px;
}

.head>h1:hover{
  transform: translateY(-10px);
}

.iphone{
  margin-top: 10%;
  height:auto;
  width: 50%;
}

.ipod{
  margin-top: 10%;
  height:auto;
  width: 50%;
}

.sierranevada{
    background: url('../images/backgrounds/SierraNevada.png') no-repeat fixed;
    background-size: cover;
}

.elcapitan{
    background: url('../images/backgrounds/ElCapitan.png') no-repeat fixed;
    background-size: cover;
}
.yosemite{
    background: url('../images/backgrounds/Yosemite.png') no-repeat fixed;
    background-size: cover;
}
.yosemite3{
    background: url('../images/backgrounds/Yosemite3.png') no-repeat fixed;
    background-size: cover;
}
.yosemite4{
    background: url('../images/backgrounds/Yosemite4.png') no-repeat fixed;
    background-size: cover;
}
.elcapitan2{
    background: url('../images/backgrounds/ElCapitan2.png') no-repeat fixed;
    background-size: cover;
}

.applewatch{
  margin-top: 10%;
  height:85%;
}

.overflow-hidden { overflow: hidden; }

.parallax{
  height: 100vh;

}
.max-width{
    max-width: 100%!important;
}

.navimages{
  max-height: 15vh;
}

.imac{
  margin-top: 10%;
  height:85%;
}

.text{
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.macbook{
  margin-top: 10%;
  height:95%;
}

.timelinetext{
  margin: 0!important;
  margin-top: 16px!important;
  text-align: left!important;
  border-radius: 20px;
}

.timeline-line{
  background-color: rgba(0, 0, 0, 0);
  padding: 0!important;
}

.timeline-years{
  margin: 0px auto 0px auto;
  border-radius: 250px;
  border: 5px solid #000;
  margin-top:-6px;

}

.productnav{
  height: 22vh;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.bg-dark{
  background-color: rgba(0, 0, 0, .85)!important;
}

.icondescription{
  margin-top: 2vh;
  color: #000;
  font-weight: lighter;
  font-size: 2vh;
  text-align: center;
}

.content{
  border-top: 3px solid black;
  width: 100%;
  position: inherit;
  max-width: 88%;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
}

.apps{
  margin-top: 10%;
  height:95%;
}
