#triangle{
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 10px solid black;
  float: right;
  margin-top: -14px;
  margin-right: -5px;
}

#triangleYear{
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 8px 10px;
  border-color: transparent transparent rgba(0, 0, 0, .85) transparent;
  margin-top: 20px;
  display: none;
  transition-duration: 1.5s;
}

#timeline{
  padding: 0!important;
  margin-bottom: 0!important;
  margin-top: -16px;
}

#timeline > li{
  list-style-type: none;
  display: none;
}

#hoverYear{
  background-color: rgba(0, 0, 0, .85);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  max-width: 40px;
  display: none;
  margin-top: -40px;
}

.timelinetext{
  margin: 0!important;
  margin-top: 16px!important;
  text-align: left!important;
  border-radius: 20px;
}

.timeline-line{
  background-color: rgba(0, 0, 0, 0);
  padding: 0!important;
}

.timeline-line a{
  margin: 0px auto 0px auto;
  border-radius: 250px;
  border: 5px solid #000;
  margin-top:-6px;

}

.timeline-line a:hover{
  cursor: pointer;
}

.content{
  border-top: 3px solid black;
  width: 100%;
  position: inherit;
  max-width: 88%;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;
}
